@using CardClicker.Core
@rendermode InteractiveWebAssembly
@inject GameEngine gameEngine
@page "/"
<PageTitle>Home</PageTitle>
<h1 role="status">Current Score: @gameEngine.CurrentTotal</h1>
<h1 role="status">ClickRate: @gameEngine.TotalClickRate</h1>
@if (gameEngine.UpgradeDictionary.Upgrades["2 of Spades"].CanUpgrade(gameEngine.CurrentTotal, gameEngine.UpgradeDictionary.Upgrades["2 of Spades"].Cost))
{
    <button style="align-self: center; border-color: black;" @onclick='() => gameEngine.PurchaseUpgrade("2 of Spades")'>Click Upgrade</button>
}
<button style="background-image: url('King_Of_Spades.jpg'); width: 500px; height: 500px;" @onclick="() => gameEngine.IncrementCount()">Click Me!</button>

@code {
    protected override void OnInitialized()
    {
        gameEngine.AddUpgrades();
    }
}

