
h3 {
        color: red;
        padding-left: 20%;
        padding-top: 100%
}
h1 {
    color: red;
}
button {
    color: red;
    border: dotted;
    border-color: blue;
    margin-top: 30%;
    margin-left: 30%;
}