@page "/Settings"
@using CardClicker.Core
@using System.Text.Json
@rendermode InteractiveWebAssembly
@inject IJSRuntime JS
@inject GameEngine gameEngine

<PageTitle>Settings</PageTitle>
<h3 style="">Settings</h3>
@* <button @onclick="() => SaveGame(gameEngine.CurrentTotal, gameEngine.UpgradeDictionary.BoughtUpgrades)">Save Game</button>
<button @onclick="() => gameEngine.GiveValues(fileHandling.LoadGame())">Load Game</button> *@
<button @onclick="Save">Save</button>
<InputFile OnChange="Load" />
<p>@message</p>

@code {
    string message = "";
    FileHandling fileHandling = new FileHandling();
    public Stat thereisIt()
    {
        return new Stat(gameEngine.CurrentTotal, fileHandling.SaveGame(gameEngine.UpgradeDictionary.BoughtUpgrades), fileHandling.SavedLevels(gameEngine.UpgradeDictionary.BoughtUpgrades));
    } 

    async Task Save() {
        var data = thereisIt();
        var json = JsonSerializer.Serialize(data);
        await JS.InvokeVoidAsync("downloadFile", "card_clicker.json", json);
    }

    async Task Load(InputFileChangeEventArgs e) {
        using var stream = e.File.OpenReadStream();
        using var reader = new StreamReader(stream);
        var json = await reader.ReadToEndAsync();
        var loaded = JsonSerializer.Deserialize<Stat>(json);
        message = $"Loaded: {json}";
        gameEngine.GiveValues(loaded.CurrentTotal, loaded.UpgradeNames, loaded.Levels);
    }
}
}
