@page "/Settings"
@using CardClicker.Core
@using System.Text.Json
@rendermode InteractiveWebAssembly
@inject IJSRuntime JS
@inject GameEngine gameEngine

<PageTitle>Settings</PageTitle>
<h3 style="">Settings</h3>
<button @onclick="Save">Save</button>
<InputFile OnChange="Load" />
<p>@message</p>

@code {
    string message = "";
    FileHandling fileHandling = new FileHandling();
    public Stat StatForSaving()
    {
        return new Stat(gameEngine.CurrentTotal, fileHandling.SaveGame(gameEngine.UpgradeDictionary.BoughtUpgrades), fileHandling.SavedLevels(gameEngine.UpgradeDictionary.BoughtUpgrades));
    } 

    public async Task Save() {
        var data = StatForSaving();
        var json = JsonSerializer.Serialize(data);
        await JS.InvokeVoidAsync("downloadFile", "card_clicker.json", json);
    }

    public async Task Load(InputFileChangeEventArgs e) {
        using var stream = e.File.OpenReadStream();
        using var reader = new StreamReader(stream);
        var json = await reader.ReadToEndAsync();
        var loaded = JsonSerializer.Deserialize<Stat>(json);
        if (e.File.Name == "card_clicker.json")
        {
            message = $"Loaded: {e.File.Name}";
            gameEngine.GiveValues(loaded.CurrentTotal, loaded.UpgradeNames, loaded.Levels);
        }
        else
        {
            message = $"Failed to load, Can only load 'card_clicker.json' files not duplicates of it";
        }
    }
}
}
